
.vs/TestApi/DesignTimeBuild/.dtbcache
.vs/TestApi/v15/.suo
TestApi/Client/
.vs/TestApi/v15/.suo
.vs/TestApi/v15/.suo
.vs/TestApi/v15/.suo
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/obj/Debug/netcoreapp2.0/TestApi.csproj.CoreCompileInputs.cache
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.csproj.CoreCompileInputs.cache
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.csproj.CoreCompileInputs.cache
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.csproj.CoreCompileInputs.cache
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
XUnitTestApi/bin/Debug/netcoreapp2.1/TestApi.dll
XUnitTestApi/bin/Debug/netcoreapp2.1/TestApi.pdb
XUnitTestApi/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
XUnitTestApi/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
XUnitTestApi/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
XUnitTestApi/bin/Debug/netcoreapp2.1/XUnitTestApi.dll
XUnitTestApi/bin/Debug/netcoreapp2.1/XUnitTestApi.pdb
XUnitTestApi/bin/Debug/netcoreapp2.1/XUnitTestApi.runtimeconfig.dev.json
XUnitTestApi/bin/Debug/netcoreapp2.1/XUnitTestApi.runtimeconfig.json
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
XUnitTestApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
XUnitTestApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
XUnitTestApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.AssemblyInfo.cs
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.AssemblyInfoInputs.cache
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.assets.cache
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.csproj.CopyComplete
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.csproj.CoreCompileInputs.cache
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.csproj.FileListAbsolute.txt
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.csprojAssemblyReference.cache
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.dll
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.pdb
XUnitTestApi/obj/Debug/netcoreapp2.1/XUnitTestApi.Program.cs
XUnitTestApi/obj/project.assets.json
XUnitTestApi/obj/XUnitTestApi.csproj.nuget.cache
XUnitTestApi/obj/XUnitTestApi.csproj.nuget.g.props
XUnitTestApi/obj/XUnitTestApi.csproj.nuget.g.targets
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
