
.vs/TestApi/DesignTimeBuild/.dtbcache
.vs/TestApi/v15/.suo
TestApi/Client/
.vs/TestApi/v15/.suo
.vs/TestApi/v15/.suo
.vs/TestApi/v15/.suo
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/obj/Debug/netcoreapp2.0/TestApi.csproj.CoreCompileInputs.cache
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.csproj.CoreCompileInputs.cache
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
.vs/TestApi/v15/Server/sqlite3/storage.ide-wal
TestApi/bin/Debug/netcoreapp2.0/TestApi.dll
TestApi/bin/Debug/netcoreapp2.0/TestApi.pdb
TestApi/obj/Debug/netcoreapp2.0/TestApi.csproj.CoreCompileInputs.cache
TestApi/obj/Debug/netcoreapp2.0/TestApi.dll
TestApi/obj/Debug/netcoreapp2.0/TestApi.pdb
.vs/TestApi/v15/.suo
.vs/TestApi/v15/Server/sqlite3/storage.ide-shm
