<div>
  <h1>{{title}}</h1>
  <table style="margin:10px">
  <tbody>
    <tr>
      <td><label>Article Number</label></td>
      <td><input type="text" style="width:132px;" #ArticleNumber /></td>
    </tr>
    <tr>
      <td><label>Title </label></td>
      <td><input type="text" #Title id="Title" style="width:132px;" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button style="width:132px; margin:2px" type="submit" (click)="add(Title.value, ArticleNumber.value)">Add</button></td>
    </tr>
  </tbody>
  </table>
  <table style="margin:10px">
    <tbody>
      <tr>
        <td><label>Enter Search Text</label></td>
        <td><input type="text" style="width:132px;" (keyup)="search(Search.value)" #Search /></td>
      </tr>
    </tbody>
  </table>
  <table style="margin:10px">
    <thead>
      <tr>
        <th>Article Number</th>
        <th>Title</th>
        <th>Loaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book?.articleNumber}}</td>
        <td *ngIf="book.articleNumber === editRowId"><input type="text" [(ngModel)]="book.title"/>
          <button (click)="getAll()">Cancel</button>
          <button (click)="update(book)">Ok</button>
        </td>
        <td *ngIf="book.articleNumber !==editRowId" (click)="edit(book?.articleNumber)">{{book?.title}}</td>
        <td *ngIf="book"><input type="checkbox" #Loaned id="Loaned" [(ngModel)]="book.isLoaned" (change)="update(book)" /></td>
        <td *ngIf="book"><button (click)="delete(book?.articleNumber)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>



