<div>
  <h1>{{title}}</h1>
  <table style="margin:10px">
  <tbody>
    <tr>
      <td><label>Article Number</label></td>
      <td><input type="text" style="width:132px;" #ArticleNumber /></td>
    </tr>
    <tr>
      <td><label>Name </label></td>
      <td><input type="text" #Name id="Name" style="width:132px;" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button style="width:132px; margin:2px" type="submit" (click)="add(Name.value, ArticleNumber.value)">Add</button></td>
    </tr>
  </tbody>
  </table>
  <table style="margin:10px">
    <tbody>
      <tr>
        <td><label>Enter Search Text</label></td>
        <td><input type="text" style="width:132px;" #Search /></td>
        <td><button (click)="search(Search.value)">Search</button></td>
      </tr>
    </tbody>
  </table>
  <table style="margin:10px">
    <thead>
      <tr>
        <th>Article Number </th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book?.articleNumber}}</td>
        <td>{{book?.name}}</td>
        <td *ngIf="book"><button (click)="delete(book?.articleNumber)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>



